@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jersey+15&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Oswald:wght@200..700&family=Paytone+One&family=Varela&family=Varela+Round&display=swap');
body{
padding:0;
margin:0;
font-family: "Oswald", serif;
}
.container{
    background:black;
    height:100vh;
    font-family: "Paytone One", serif;

    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    background:whitesmoke;
    height: 100vh;
}
.img{
    margin-top:2.5rem;
    width:40%;
    border: none;
    border-radius: 5%;
}
.txt{
    margin:30px;
}
.btn button{
height: 35px;
padding:5px;
margin:10px;
width:40%;
border:solid black 1px;
border-radius:10px;

}
.btn-img{
    height:15px;
}
button:hover{
    background-color: black;
    color:white;
}